.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,700 L 0,131 C 74.98564593301438,114.94258373205741 149.97129186602876,98.88516746411483 237,116 C 324.02870813397124,133.11483253588517 423.1004784688995,183.4019138755981 528,179 C 632.8995215311005,174.5980861244019 743.6267942583731,115.50717703349284 839,108 C 934.3732057416269,100.49282296650716 1014.3923444976076,144.5693779904306 1112,157 C 1209.6076555023924,169.4306220095694 1324.8038277511962,150.2153110047847 1440,131 L 1440,700 L 0,700 Z");
    }
    25%{
      d: path("M 0,700 L 0,131 C 61.645933014354085,160.88516746411483 123.29186602870817,190.77033492822966 236,184 C 348.70813397129183,177.22966507177034 512.4784688995215,133.80382775119617 608,112 C 703.5215311004785,90.19617224880383 730.7942583732058,90.01435406698566 820,94 C 909.2057416267942,97.98564593301434 1060.3444976076553,106.13875598086123 1174,113 C 1287.6555023923447,119.86124401913877 1363.8277511961724,125.43062200956939 1440,131 L 1440,700 L 0,700 Z");
    }
    50%{
      d: path("M 0,700 L 0,131 C 119.61722488038276,161.05741626794259 239.23444976076553,191.11483253588517 318,175 C 396.76555023923447,158.88516746411483 434.67942583732054,96.5980861244019 528,95 C 621.3205741626795,93.4019138755981 770.0478468899521,152.4928229665072 876,177 C 981.9521531100479,201.5071770334928 1045.129186602871,191.4306220095694 1132,178 C 1218.870813397129,164.5693779904306 1329.4354066985645,147.7846889952153 1440,131 L 1440,700 L 0,700 Z");
    }
    75%{
      d: path("M 0,700 L 0,131 C 79.34928229665073,150.98086124401914 158.69856459330146,170.96172248803828 268,167 C 377.30143540669854,163.03827751196172 516.555023923445,135.13397129186603 607,142 C 697.444976076555,148.86602870813397 739.0813397129186,190.5023923444976 832,193 C 924.9186602870814,195.4976076555024 1069.1196172248804,158.85645933014354 1179,142 C 1288.8803827751196,125.14354066985645 1364.44019138756,128.07177033492823 1440,131 L 1440,700 L 0,700 Z");
    }
    100%{
      d: path("M 0,700 L 0,131 C 74.98564593301438,114.94258373205741 149.97129186602876,98.88516746411483 237,116 C 324.02870813397124,133.11483253588517 423.1004784688995,183.4019138755981 528,179 C 632.8995215311005,174.5980861244019 743.6267942583731,115.50717703349284 839,108 C 934.3732057416269,100.49282296650716 1014.3923444976076,144.5693779904306 1112,157 C 1209.6076555023924,169.4306220095694 1324.8038277511962,150.2153110047847 1440,131 L 1440,700 L 0,700 Z");
    }
  }

  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,700 L 0,306 C 108.8133971291866,280.8038277511962 217.6267942583732,255.60765550239233 317,254 C 416.3732057416268,252.39234449760767 506.3062200956938,274.37320574162686 597,276 C 687.6937799043062,277.62679425837314 779.1483253588517,258.89952153110045 881,263 C 982.8516746411483,267.10047846889955 1095.1004784688994,294.0287081339713 1190,305 C 1284.8995215311006,315.9712918660287 1362.4497607655503,310.9856459330143 1440,306 L 1440,700 L 0,700 Z");
    }
    25%{
      d: path("M 0,700 L 0,306 C 114.38277511961724,265.4066985645933 228.76555023923447,224.81339712918663 314,244 C 399.23444976076553,263.1866028708134 455.32057416267946,342.1531100478469 544,361 C 632.6794258373205,379.8468899521531 753.9521531100477,338.57416267942585 852,334 C 950.0478468899523,329.42583732057415 1024.8708133971293,361.55023923444975 1119,363 C 1213.1291866028707,364.44976076555025 1326.5645933014353,335.22488038277515 1440,306 L 1440,700 L 0,700 Z");
    }
    50%{
      d: path("M 0,700 L 0,306 C 97.56937799043064,306.96650717703346 195.13875598086128,307.933014354067 292,320 C 388.8612440191387,332.066985645933 485.0143540669857,355.2344497607656 571,360 C 656.9856459330143,364.7655502392344 732.803827751196,351.1291866028708 834,347 C 935.196172248804,342.8708133971292 1061.7703349282299,348.2488038277512 1167,343 C 1272.2296650717701,337.7511961722488 1356.114832535885,321.8755980861244 1440,306 L 1440,700 L 0,700 Z");
    }
    75%{
      d: path("M 0,700 L 0,306 C 94.47846889952157,277.5406698564593 188.95693779904315,249.08133971291866 274,251 C 359.04306220095685,252.91866028708134 434.6507177033492,285.21531100478467 546,284 C 657.3492822966508,282.78468899521533 804.4401913875599,248.0574162679426 901,242 C 997.5598086124401,235.9425837320574 1043.5885167464114,258.555023923445 1125,274 C 1206.4114832535886,289.444976076555 1323.2057416267944,297.7224880382775 1440,306 L 1440,700 L 0,700 Z");
    }
    100%{
      d: path("M 0,700 L 0,306 C 108.8133971291866,280.8038277511962 217.6267942583732,255.60765550239233 317,254 C 416.3732057416268,252.39234449760767 506.3062200956938,274.37320574162686 597,276 C 687.6937799043062,277.62679425837314 779.1483253588517,258.89952153110045 881,263 C 982.8516746411483,267.10047846889955 1095.1004784688994,294.0287081339713 1190,305 C 1284.8995215311006,315.9712918660287 1362.4497607655503,310.9856459330143 1440,306 L 1440,700 L 0,700 Z");
    }
  }

  .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2{
    0%{
      d: path("M 0,700 L 0,481 C 100.71770334928229,487.51674641148327 201.43540669856458,494.0334928229665 292,485 C 382.5645933014354,475.9665071770335 462.97607655502406,451.3827751196171 562,453 C 661.0239234449759,454.6172248803829 778.6602870813397,482.43540669856463 881,486 C 983.3397129186603,489.56459330143537 1070.3827751196172,468.8755980861244 1161,464 C 1251.6172248803828,459.1244019138756 1345.8086124401914,470.0622009569378 1440,481 L 1440,700 L 0,700 Z");
    }
    25%{
      d: path("M 0,700 L 0,481 C 95.07177033492823,479.6794258373206 190.14354066985646,478.3588516746412 288,498 C 385.85645933014354,517.6411483253588 486.4976076555024,558.2440191387559 588,538 C 689.5023923444976,517.7559808612441 791.866028708134,436.66507177033503 897,431 C 1002.133971291866,425.33492822966497 1110.038277511962,495.0956937799043 1201,516 C 1291.961722488038,536.9043062200957 1365.980861244019,508.95215311004785 1440,481 L 1440,700 L 0,700 Z");
    }
    50%{
      d: path("M 0,700 L 0,481 C 91.59808612440187,510.7129186602871 183.19617224880375,540.4258373205741 281,538 C 378.80382775119625,535.5741626794259 482.8133971291867,501.0095693779905 569,476 C 655.1866028708133,450.9904306220095 723.5502392344498,435.5358851674642 825,447 C 926.4497607655502,458.4641148325358 1060.9856459330144,496.8468899521531 1169,507 C 1277.0143540669856,517.1531100478469 1358.5071770334928,499.07655502392345 1440,481 L 1440,700 L 0,700 Z");
    }
    75%{
      d: path("M 0,700 L 0,481 C 99.35885167464116,464.1578947368421 198.71770334928232,447.31578947368416 293,468 C 387.2822966507177,488.68421052631584 476.4880382775118,546.8947368421053 560,540 C 643.5119617224882,533.1052631578947 721.33014354067,461.10526315789474 822,460 C 922.66985645933,458.89473684210526 1046.1913875598086,528.6842105263158 1153,544 C 1259.8086124401914,559.3157894736842 1349.9043062200958,520.1578947368421 1440,481 L 1440,700 L 0,700 Z");
    }
    100%{
      d: path("M 0,700 L 0,481 C 100.71770334928229,487.51674641148327 201.43540669856458,494.0334928229665 292,485 C 382.5645933014354,475.9665071770335 462.97607655502406,451.3827751196171 562,453 C 661.0239234449759,454.6172248803829 778.6602870813397,482.43540669856463 881,486 C 983.3397129186603,489.56459330143537 1070.3827751196172,468.8755980861244 1161,464 C 1251.6172248803828,459.1244019138756 1345.8086124401914,470.0622009569378 1440,481 L 1440,700 L 0,700 Z");
    }
  }